<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MyCalendar - Ειδοποίηση για κάποιο γεγονός</title>
</head>
<body>
<div style="width: 640px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
  <div align="left">
    <a href="http://127.0.0.1/calendar/"><img src="../email/images/logo.png" height="90" alt="http://127.0.0.1/calendar/"></a>
  </div>
  <h2>Γεια σας $RECEIVERSNAME$ !</h2>
  <h3>Ο χρήστης του "DDA Calendar" $FIRSTNAME$ $LASTNAME$ θέλει να σας ενημερώσει για το παρακάτω γεγονός :</h3>
  <p><b>ΓΕΓΟΝΟΣ :</b> $EVENTTITLE$</p>
  <p><b>ΠΕΡΙΓΡΑΦΗ :</b> $EVENTDESCRIPTION$</p>
  <p><b>ΠΟΤΕ ΘΑ ΣΥΜΒΕΙ :</b> $EVENTDATETIME$</p>
  <p>Εάν είστε εγγεγραμμένος χρήστης του "DDA Calendar", αυτό το γεγονός θα εμφανιστεί και στο δικό σας προσωπικό ημερολόγιο !</p>
</div>
</body>
</html>